{% extends getView('pattern_index') %}

{% block title %}Bienvenu sur {{ parent() }}{% endblock %}

{% block container %}
<div class="container">
	<h1>::FoxFWKernel::</h1>

	Exemple path:<br/>
	<a href="{{ path('test') }}">{{ path('test') }}</a><br/>
	<br/>
	Exemple router:<br/>
	<a href="{{ router('user_login') }}">{{ router('user_login') }}</a><br/>
	<hr/>
	<b>User:</b><br/>
	{% if User.isLogin() == true %}
		<b style="color:green;">Email: {{ User.getEmail() }}</b><br/>
		Deconnexion: <a href="{{ router('user_deco') }}">{{ router('user_deco') }}</a><br/><br/>
	{% endif %}
	<b style="color:red;">{{ User.getInfo() }}</b><br/>

	<hr/>
	<b>Page: ( require grade: PAGE )</b><br/>
	<a href="{{ router('addPage') }}">Ajouter une page</a><br/>
	<a href="{{ router('addArticle') }}">Ajouter un article</a><br/>
	<br/>
	<a href="{{ router('viewListePage','0') }}">Liste des pages</a><br/>
	<a href="{{ router('viewListePage','1') }}">Liste des Articles</a><br/>
	<a href="{{ router('viewListeAllPage') }}">Liste complétes</a><br/>
	<hr/>
	<b>Admin: ( require grade: ADMIN )</b><br/>
	<a href="{{ router('user_viewListeUsers') }}">Liste users & grade</a><br/>
	<a href="{{ router('Foxfw_viewRouter') }}">Router</a><br/>
	<a href="{{ router('Foxfw_viewConfiguration') }}">Configuration</a><br/>
	<a href="{{ router('Foxfw_viderCache') }}">Vider Cache</a><br/>
	<hr/>
</div>
{% endblock %}