<div id="menu_mobile" >

	<!-- ===================================================== -->
	<!-- ==================PANEL SEPARATEUR ================== -->
	<!-- ===================================================== -->
	<div id="panel_mobile0" class="menu_mobile">
		<h2>menu0</h2>
		<ul class="container">
			<li><a href="{{router('Page_viewPage','exemple0')}}">exemple0</a></li>
			<li><a href="{{router('Page_viewPage','exemple1')}}">exemple1</a></li>
			<li><a href="{{router('Page_viewPage','exemple2')}}">exemple2</a></li>
			<li><a href="{{router('Page_viewPage','hello_world')}}">Hello World</a></li>
		</ul>
	</div>

	<!-- ===================================================== -->
	<!-- ==================PANEL SEPARATEUR ================== -->
	<!-- ===================================================== -->
	<div id="panel_mobile1" class="menu_mobile">
		<h2>menu1</h2>
		<ul class="container">
			<li><a href="{{router('Page_viewPage','test')}}">test</a></li>
			<li><a href="{{router('Page_viewPage','test')}}">test</a></li>
			<li><a href="mailto:mail@helloworld.fr">mail</a></li>
		</ul>
	</div>



	<!-- ===================================================== -->
	<!-- ==================PANEL SEPARATEUR ================== -->
	<!-- ===================================================== -->
	<div id="panel_mobile2" class="menu_mobile">
		<h2>menu2</h2>
		<ul class="container">
			<li><a href="{{router('Page_viewPage','test')}}">test</a></li>
			<li><a href="{{router('Page_viewPage','test')}}">test</a></li>
		</ul>
	</div>



	<!-- ===================================================== -->
	<!-- ==================PANEL SEPARATEUR ================== -->
	<!-- ===================================================== -->
	<div id="panel_mobile3" class="menu_mobile">
		<h2>menu3</h2>
		<ul class="container">
			<li><a href="{{router('Page_viewPage','test')}}">test</a></li>
			<li><a href="{{router('Page_viewPage','test')}}">test</a></li>
		</ul>
	</div>



	<!-- ===================================================== -->
	<!-- ==================PANEL SEPARATEUR ================== -->
	<!-- ===================================================== -->
	<div id="panel_mobile4" class="menu_mobile">
		<h2>menu4</h2>
		<ul class="container">
			<li><a href="{{router('Page_viewPage','test')}}">test</a></li>
			<li><a href="{{router('Page_viewPage','test')}}">test</a></li>
		</ul>
	</div>



	<!-- ===================================================== -->
	<!-- ==================PANEL SEPARATEUR ================== -->
	<!-- ===================================================== -->
	<div id="panel_mobile5" class="menu_mobile">
		<h2>menu5</h2>
		<ul class="container">
			<li><a href="{{router('Page_viewPage','test')}}">test</a></li>
			<li><a href="{{router('Page_viewPage','test')}}">test</a></li>
		</ul>
	</div>



	<!-- ===================================================== -->
	<!-- ==================PANEL SEPARATEUR ================== -->
	<!-- ===================================================== -->
	<div id="panel_mobile6" class="menu_mobile">
		<h2>menu6</h2>
		<ul class="container">
			<li><a href="{{router('Page_viewPage','test')}}">test</a></li>
			<li><a href="{{router('Page_viewPage','test')}}">test</a></li>
		</ul>
	</div>
</div>