<li>
	<a href="{{ router('calendrier_addEvent') }}" style="color:green;">
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		Ajouter Evenement
	</a>
</li>

<li>
	<a href="{{ router('calendrier_listeEvent') }}">
		<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
		Liste Calendrier
	</a>
</li>

<li>
	<a href="{{ router('calendrier_listeComplete') }}">
		<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
		Liste Compléte
	</a>
</li>

<li class="updateCalendrier" style="display:none;">
	<a href="{{ router('calendrier_removeEvent', '') }}" style="color:red;" id="delEventMenuAdmin">
		<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
		Supprimer
	</a>
</li>


<li class="updateCalendrier" style="display:none;">
	<a href="{{ router('calendrier_editEvent', '') }}" style="color:red;">
		<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
		Modifier
	</a>
</li>

<script type="text/javascript">
$('document').ready(function()
{
	var value = $('#calendrier_data').attr('class');
	if( value == undefined )
		return;
	if( value == '' )
		return;
	value = value.split(" ")[0];
	value = value.split("_")[1];

	if( value != undefined )
	{
		$('.updateCalendrier').css('display','block');
		var lien;
		//update modifier / supprimer
		lien = $('.updateCalendrier:eq(0) a').attr('href');
		$('.updateCalendrier:eq(0) a').attr('href', lien+value );

		lien = $('.updateCalendrier:eq(1) a').attr('href');
		$('.updateCalendrier:eq(1) a').attr('href', lien+value );
	}
	else
		$('.updateCalendrier').css('display','none');


	//bouton info avant de supprimer
	$('#delEventMenuAdmin').click(function()
	{
		if( confirm("Voulez-vous supprimer l'événement ?"))
			return true;
		return false;
	});
});
</script>